# Global git configuration

[user]
	email = solodov.dev@gmail.com
	name = Andrey Solodov
[core]
	autocrlf = input
[init]
	defaultBranch = master
[alias]
	pushall = !git remote | xargs -L1 git push --all
